<!DOCTYPE html><!-- tells the browser what language to expect -->
<header lang="en">
<meta charset="utf-8">
<!-- <link rel="stylesheet" href="css/main.css"> -->
<!-- This is an html comment  -->

<title>Template</title>
<link rel="stylesheet" href="css/main.css"></link>

</header>



<body>   


<header class="centered">
   <h1>Rocky Mountain Times</h1>
   <nav>
       <a href="index.html">Home</a>
       <a href="sports.html">Sports</a>
       <a href="entertainment.html">entertainment</a>
       
   </nav>

</header>

<main class="centered">
     <article>
        <h2>Where does it come from</h2>
        <p>Contrary to popular belief, Lorem ipsumis </p>
     </article>

     <article>
        <h2>Where does it come from</h2>
        <p>Contrary to popular belief, Lorem ipsumis </p>
     </article>

     <article>
         <h2>Where does it come from</h2>
         <p>Contrary to popular belief, Lorem ipsumis </p>
     </article>
</main>

<div class="clearfix"></div>
<footer class="centered">

    &copy; Copyright 2019 Rocky Mountain Times
</footer>

    

<!-- Can you make a naranja class to apply to the head and the footer that makes them both orange. Replace the existing rule that makes the header orange.
-->

Enter your item: 
<br>
<input type="text" id="txt-enter" value="put stuff here">
<br>
<button id="btn-add" onclick="addItem();">Add item</button>



 <ul id="lst-list"></ul>

<script src="js/script.js"></script>
</body>









</html>
